.commentsList {
  flex: 1;
  max-width: 400px;
  padding: 16px;
  border: 1px solid #fdd327;
  border-radius: 8px;
  background-color: #16234d;
  color: #fdd327;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.comment:last-child {
  border-bottom: none;
}

.commentText {
  font-size: 14px;
}

.noComments {
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}
